* {
  box-sizing: border-box;
  font-family: "Open Sans";
}
body {
  background-color: white;
  color: rgb(0, 0, 0);
}

.layout_dinamico {
  display: flex;
  flex-direction: row;
  width: 100%;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;

  padding-inline-start: 0;
}

#box_sx {
  flex-direction: column;
  width: 30%;
}
#box_sx h2 {
  padding: 5px;
  font-weight: 200;
}

#box_dx {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 20px;
}
#box_dx div {
  text-align: center;
  font-size: 1.3em;
}

#box_dx img {
  width: 30%;
  height: auto;
  text-align: center;
}
#box_dx > h2 {
  background-color: #0362bf;
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 300;
  font-family: "Oswald";
  padding: 40px 10px;
}

/* ul contenente tutti gli li del box di sinistra */
#elenco_capitoli {
  position: sticky;
  top: 10%;
  font-size: 1.2em;
  padding: 5px;
  text-transform: uppercase;
}

.titolo_capitolo {
  padding: 5px;
  margin-bottom: 2px;
}

#elenco_capitoli li:hover {
  cursor: pointer;
  color: #0362bf;
  font-weight: bold;
  border-bottom: 2px solid #0362bf;
}
#box_sx #elenco_capitoli li:focus {
  color: white;
}

.hidden {
  display: none;
}

.clicked {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  background-color: #0362bf;
}

/* BOX DI DESTRA */

#contenuto_paragrafi li section:nth-of-type(even) {
  padding: 10px;
  background-color: rgb(231, 233, 236);
  color: rgb(0, 17, 43);
}
#contenuto_paragrafi li section:nth-of-type(odd) {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 17, 43);
}

#contenuto_paragrafi li section h3 {
  font-size: 32px;
  font-family: "Oswald";
  color: #0362bf;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
}
#contenuto_paragrafi li section p {
  font-size: 16px;
  margin: 5px 0;
}

#box_dx section p img {
  width: 80%;
  height: auto;
  text-align: center;
}

#box_dx section p a {
  color: blue;
  text-decoration: dotted;
  display: inline;
}
