* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.box input {
  font-size: 1.3em;
  padding: 10px;
  margin: 10px;

  width: calc(50% - 20px);
}

label {
  font-size: 1.3em;
  margin: 10px;
  width: calc(50% - 20px);
}

.contenitore_bottoni {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button {
  padding: 10px;
  font-size: 1.3px;
  width: 30%;
  background-color: azure;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid black;
  font-size: 1.3em;
  text-align: center;
}
.button:hover {
  cursor: pointer;
  background-color: aquamarine;
  font-weight: bold;
}
